/* styles.css */

/* Base Styles */
.banner-image {
    display: block;
    width: 100%;
    margin-top: 1.25rem;

    /* 5 */
    object-fit: cover;
}

/* Height for different breakpoints */
@media (min-width: 640px) {
    .banner-image {
        height: 22rem;
        /* 88 */
        margin-top: 0;
        /* 0 */
    }
}

@media (min-width: 768px) {
    .banner-image {
        height: 25rem;
        /* 100 */
    }
}

@media (min-width: 1024px) {
    .banner-image {
        height: 36rem;
        /* 144 */
    }
}

/* Optional: Add additional styling for responsiveness if needed */